sudo: required
services:
  - docker

before_install:
  - docker build -t andythenuge/react-test -f ./client/Dockerfile.dev ./client

script:
 - docker run -e CI=true andythenuge/react-test npm test

after_success:
  - docker build -t andythenuge/multi-client ./client
  - docker build -t andythenuge/multi-nginx ./nginx
  - docker build -t andythenuge/multi-server ./server
  - docker build -t andythenuge/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push andythenuge/multi-client
  - docker push andythenuge/multi-nginx
  - docker push andythenuge/multi-server
  - docker push andythenuge/multi-worker

